<style>
    .maincontainer{
        display: flex;
        justify-content: center;
        height: 100vh;
        background: #201989;
    }
    .root{
        width: 1290px;
        height: auto;
        background : rgb(229, 226, 226);
        padding: 10px;
        margin-top: 20px;
    }

    .heading{
      color:#4834d4;
      font-size: 32px;
      font-weight: bold;
      font-family: Oxygen;
      display: flex;
      justify-content: center;
      padding: 5px;
    }
    .rowgap{
    margin-top: 40px;}
</style>

<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
   <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="maincontainer">
    <div class="root">

        <div class="heading">
            <span><img src="/images/airindia.png" width="55"/></span>
              Flight Enquiry System
          </div>
           
        <table class="striped">
            <thead>
              <tr>
                  <th>Flight Id</th>
                  <th>Company Name</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Type</th>
                  <th>Class</th>
                  <th>Days</th>
                  <th>Update</th>
              </tr>
            </thead>

            <tbody>
                <% data.map((item)=>{%>

              <tr>
                <td><%=item.flightid%></td>
                <th><%=item.companyname%><br>
                  <a href="/flight/showpicture?flightid=<%= item.flightid %>&companyname=<%= item.companyname %>&logo=<%= item.logo %>">
                <img src="/images/<%=item.logo%>" width="40"> </a>
              </th>
                <td><%=item.sc %><br> <%=item.sourcetiming %></td>
                <td><%=item.dc %><br> <%=item.destinationtiming %></td>
                <td><%=item.status %></td>
                <td><%=item.flightclass %></td>
                <td><%=item.days %></td>
                <td><a href="/flight/displaybyid?fid=<%= item.flightid %>">Update</a></td>

              </tr>
              <%})%>

            </tbody>
          </table>
    </div>
</div>

</head>
</html>